<html lang="en">
<!-- Primary Meta Tags -->
<title>whocalledme : find who called you just earlier</title>
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html">
<meta name="language" content="English">
<meta name="serp-rank" position="1" />
<meta name="author" content="@sidbelbase">
<meta name="title" content="whocalledme : find who called you just earlier">
<meta name="description" content="Find the name of a person, the carrier, and the place they live.">
<meta name="keywords"
    content="NTC, Namaste, Ncell, HelloNepal, SmartCell, Landline, UTL, Doorsanchar, Truecaller, Find Numbers">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://whocalledmee.herokuapp.com/">
<meta property="og:title" content="whocalledme : find who called you just earlier">
<meta property="og:description" content="Find the name of a person, the carrier, and the place they live.">
<meta property="og:image" content="">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://whocalledmee.herokuapp.com/">
<meta property="twitter:title" content="whocalledme : find who called you just earlier">
<meta property="twitter:description" content="Find the name of a person, the carrier, and the place they live.">
<meta property="twitter:image" content="">

<!-- Links -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/' + 'bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/' + 'main.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/' + 'sli.min.css') }}">
<link href="https://fonts.googleapis.com/css?family=Overpass:600,700&display=swap" rel="stylesheet">

</head>

<header class="masthead text-center d-flex" style="background-image:url('static/images/bg.webp');">
    <div class="container my-auto">
        <div class="row">
            <div class="col-xl-7 col-lg-8 mx-auto">
                {% block content -%}
                {% endblock -%}
            </div>
        </div>
    </div>
    <div class="fixed-bottom container">
        <div class="row">
            <div class="col offset-lg-11 mb-4">
                <a href="https://github.com/sidbelbase" class="text-decoration-none" title="sidbelbase on github">
                    <i class="icon-social-github github h5"></i></a>
            </div>
        </div>
    </div>
</header>

<body>
    <!-- ! JAVASCRIPT SECTION -->
    <!-- FIRST POPPER.JS AND THEN BOOTSTRAP.JS -->
    <script src="{{ url_for('static', filename='js/' + 'jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/' + 'bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/' + 'main.js') }}"></script>
</body>

</html>