<!doctype html>
{% extends "base.html" -%}
{% block content -%}
<div class="searcher">
    <form method="get" action="{{ url_for('main.search_result') }}">
        <input class="form-control" id="search" name="number" type="search" rel="search" required="required"
            placeholder="Enter Number Here" autocomplete="off" tabindex="-1">
        <button class="search-icon" title="Search Number"><i
                class="icon-magnifier h5 text-white font-weight-bold align-middle"></i></button>
    </form>
</div>
{% endblock -%}