/* ?--------------------------------------------------------- COMMENTED COLORS ------------------------------------------------------

--blue:#007bff;
--indigo:#6610f2;
--purple:#6f42c1;
--pink:#e83e8c;
--red:#dc3545;
--orange:#fd7e14;
--yellow:#ffc107;
--green:#28a745;
--teal:#20c997;
--cyan:#17a2b8;
--gray:#6c757d;
--gray-dark:#343a40;
--primary:#007bff;
--secondary:#6c757d;
--success:#28a745;
--info:#17a2b8;
--warning:#ffc107;
--danger:#dc3545;
--light:#f8f9fa;
--dark:#343a40; 
*/

/* ?------------------------------------------------------- BODY CUSTOMIZATIONS ------------------------------------------------------- */

header {
  background: #252527;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  font-family: "Roboto Condensed", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font-display: fallback !important;
}

.bold {
  font-weight: 500 !important;
}

.bolder {
  font-weight: 600 !important;
}

.rounded {
  border-radius: 8px !important;
}

.rounder {
  border-radius: 10px !important;
}

.rounded-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.rounded-bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tamers {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* ?--------------------------------------------------------- DARK THEME VARIANT --------------------------------------------------------- */

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #100e17;
}

::-webkit-scrollbar-thumb {
  background: #504c57;
}

::-webkit-scrollbar-thumb:hover {
  background: #7a7a8c;
}


/* ?--------------------------------------------------------- SEARCH --------------------------------------------------------- */

input {
  font-family: "Simple-Line-Icons", sans-serif;
}

#search {
  font-size: larger;
  background: #e1e0e4;
  font-weight: 500;
  border-radius: 30px;
  padding: 25px 22px;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
  transition: all ease 1s;
}

#search:focus {
  outline: none !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
  font-size: larger;
  background: #e1e0e4;
  color: #252527;
  font-weight: 500;
  border-radius: 30px;
  padding: 25px 22px;
  transition: all ease 1s;
}